.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.litbut{
  position: absolute;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 80%;
  height: 80%;
  top: 5%;
  font-size: 72px;
  color: rgb(0, 0, 0);
  bottom: 0%;
  left: 5%;
  right: 0%;
  background-color: rgb(0, 97, 167);
  border-radius: 550px;
}

